.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table, th, td {
  border: 1px solid white;
  /* border-collapse: collapse; */
}
th, td {
  background-color: #96D4D4;
}

.nav{
  text-align: right;
  background-color: #216e6e;

}
.nav li{
  display: inline-block;
  padding: 10px 10px;
  
}

.link{
  text-decoration: none;
}
.active{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}